.app-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 90px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.chat-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.chat-input {
  flex-grow: 1;
  min-width: 0;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.send-button {
  flex-shrink: 0;
  white-space: nowrap;
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-button {
  flex-shrink: 0;
  white-space: nowrap;
  background-color: rgb(205, 205, 205);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: end;
}

.chat-message-text {
  background-color: #eee;
  padding: 12px 16px;
  border-radius: 18px;
  margin: 20px 10px;
  max-width: 75%;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
}

.chat-message-profile {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.loading-spinner {
  height: 40px;
}

.empty-chat-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.welcome-message {
  font-size: clamp(12px, 4vw, 28px);
  text-align: center;
  width: 100%;
}
.chat-time {
  display: block;
  font-size: 12px;
  color: gray;
  margin-top: 3px;
}